body {
  text-align: center;
}
section {
  background-image: url("https://www.skyfactory.com/videos/homepage/homepage_poster.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  text-align: center;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 2px rgba(188, 202, 200, 0.918);
  margin-top: 20px;
  padding-bottom: 70px;

  width: 50%;
}

h1 {
  margin-top: 30px;
  margin-bottom: 0px;
  margin-right: 0px;
  display: inline-block;
  color: whitesmoke;
  font-size: 70px;
  font-weight: 500;
  mix-blend-mode: overlay;
  width: 90%;
  text-align: center;
}

#search-form {
  background-color: transparent;
}
#search-input:focus {
  color: aliceblue;
}
#search-input {
  background: transparent;
  border: none;
  outline: 1px aliceblue solid;
}
#search-input:hover {
  outline: 1px rgb(1, 236, 40) solid;
}
::placeholder {
  color: rgba(240, 248, 255, 0.7);
}
#search-form,
#search-input {
  margin-top: 50px;
}
#btn {
  background: transparent;
  outline: none;
  border: none;
  color: aliceblue;
  position: relative;
  transform: scale(1.7, 1.7);
  margin-left: 15px;
  cursor: pointer;
  padding: 0;
  transition: none;
}
#btn:hover {
  color: rgb(1, 236, 40);
  transform: scale(2.1, 2.1);
  cursor: pointer;
}
il {
  margin-bottom: 20px;
  margin-top: 90px;
  margin-left: 65px;
}
#temp {
  font-size: 90px;
}

#temperatureMain {
  display: inline;
  font-size: 70px;
  color: aliceblue;
  font-weight: 200;
  mix-blend-mode: overlay;
  margin-top: 60px;
  position: relative;
  left: 45px;
  padding-left: 0%;
}

#centigrados,
#fahrenheit {
  line-height: 1;
  font-size: 20px;
  position: relative;
  top: -50px;
  left: -10px;
  text-decoration: none;
  color: aliceblue;
}
#fahrenheit {
  left: -10px;
  right: 10px;
}
#extras {
  font-size: 14px;
  display: block;
  text-align: left;
  color: aliceblue;
  font-weight: 300;
  width: 20%;
  padding: 0;
  position: relative;
  float: right;
  left: -100px;
  top: 53px;
  line-height: 12px;
}

#date {
  position: relative;
  margin-top: -30px;
  margin-bottom: 30px;
  margin-left: 0px;
  top: -20px;
  bottom: 20px;
  color: aliceblue;
  font-size: 22px;
  font-weight: 300;
}

.comment {
  color: aliceblue;
  font-size: 15px;
  font-weight: 300;
}
.card {
  background-color: rgba(239, 248, 254, 0.08);
  margin-top: 40px;
  border: 3px;
  color: aliceblue;
  margin-bottom: 100px;
}
section {
  display: inline-block;
  text-align: center;
}
.row {
  text-align: center;
  padding: 200;
  width: 100%;
  height: 180px;
  margin-left: 0;
  margin-right: 0;
}
img {
  height: 70px;
  margin-bottom: 10px;
  margin-top: 0;
}
.repository {
  color: aliceblue;
  font-size: 12px;
  font-weight: 300;
  display: inline;
  margin: 0 auto;
  margin-bottom: 30px;
  position: relative;
  bottom: -20px;
  text-decoration: none;
}
strong {
  text-decoration: underline;
}
.repository:hover {
  font-weight: 400px;
  color: rgb(1, 236, 40);
  cursor: pointer;
  margin-bottom: 30px;
}
