body {
  text-align: center;
}
section {
  background-image: url("https://www.skyfactory.com/videos/homepage/homepage_poster.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  text-align: center;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 2px rgba(188, 202, 200, 0.918);
  margin-top: 20px;
  padding-bottom: 70px;
  width: 700px;
}
.container {
  margin-left: auto;
  margin-right: auto;
  min-height: 600px;
}
header {
  margin-left: auto;
  margin-right: auto;
}
h1 {
  margin-top: 30px;
  margin-bottom: 10px;
  margin-right: 0px;
  display: inline-block;
  color: whitesmoke;
  font-size: 70px;
  font-weight: 500;
  mix-blend-mode: overlay;
  width: fixed 100%;
  text-align: center;
  animation-duration: 2s ease-in-out;
}
.animate__animated.animate__fadeInDown {
  animation-duration: 2s ease-in-out;
  animation-delay: 300ms;
}

#search-form {
  background-color: transparent;
  width: auto;
  justify-content: center;
}
.animate__animated.animate__slideInDown {
  animation-duration: 2.7s ease-in-out;
  animation-delay: 500ms;
  animation-name: sliding;
}

@keyframes sliding {
  from {
    opacity: 0;
    transform: translateY(-60px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
#search-input:focus {
  color: aliceblue;
}
#search-input {
  background: transparent;
  border: none;
  outline: 1px aliceblue solid;
  width: fixed;
}
#search-input:hover {
  outline: 1px rgb(1, 236, 40) solid;
}
::placeholder {
  color: rgba(240, 248, 255, 0.7);
}
#search-form,
#search-input {
  margin-top: 50px;
}
#btn {
  background: transparent;
  outline: none;
  border: none;
  color: aliceblue;
  position: relative;
  transform: scale(1.7, 1.7);
  margin-left: 15px;
  cursor: pointer;
  padding: 0;
  transition: none;
  width: fixed;
}
#btn:hover {
  color: rgb(1, 236, 40);
  transform: scale(1.98, 1.98);
  cursor: pointer;
}
il {
  margin-bottom: 20px;
  margin-top: 90px;
  margin-left: 65px;
}
.weather-temperature {
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
#temp {
  font-size: 90px;
  justify-content: center;
}
#temperatureMain {
  display: inline;
  font-size: 70px;
  color: aliceblue;
  font-weight: 200;
  mix-blend-mode: overlay;
  margin-top: 60px;
  position: relative;
  left: 28px;
  padding-left: 0%;
  width: fixed;
  justify-content: center;
}
.weather-temperature #temp {
  justify-content: center;
}
#units {
  position: relative;
  top: -50px;
  left: -10px;
  display: none;
}
#units:target {
  display: inline-block;
}
#units,
#centigrados,
#fahrenheit {
  line-height: 1;
  font-size: 20px;
  top: -50px;
  left: -10px;
  text-decoration: none;
  color: aliceblue;
}
#centigrados:hover {
  color: rgb(1, 236, 40);
  cursor: pointer;
}
#fahrenheit:hover {
  color: rgb(1, 236, 40);
  cursor: pointer;
}
#toggle-extras {
  display: none;
}
#toggle-extras:target {
  display: inline-block;
}
.extras {
  font-size: 15px;
  display: block;
  text-align: left;
  color: aliceblue;
  font-weight: 300;
  width: fixed 20%;
  padding: 0;
  position: relative;
  float: right;
  left: -170px;
  top: 47px;
  line-height: 12px;
}
#humidity-input,
#wind-input {
  font-weight: 400;
}
i {
  margin-right: 4px;
}
#date {
  margin: 0 auto;
  color: aliceblue;
  font-size: 20px;
  font-weight: 300;
  display: block;
}
#date::first-letter {
  text-transform: capitalize;
}
.comment {
  margin: 0;
  color: aliceblue;
  font-size: 15px;
  font-weight: 300;
}
.comment::first-letter {
  text-transform: capitalize;
}
.card {
  background-color: rgba(239, 248, 254, 0.08);
  border: 3px;
  color: aliceblue;
  margin-bottom: 30px;
  width: 100px;
}
.col-2 {
  margin-right: 2px;
  margin-left: 2px;
  height: 140px;
  width: auto;
}
#forecast-row {
  position: relative;
  top: 20px;
  width: auto;
  margin: auto;
  font-weight: 200px;
  font-size: 14px;
  padding: 30;
  text-align: center;
  justify-content: center;
  margin-top: 40px;
}
h5 {
  font-size: 14px;
}
h6 img {
  width: 60px;
}
section {
  display: inline-block;
  text-align: center;
}
.repository {
  color: aliceblue;
  font-size: 12px;
  font-weight: 300;
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 30px;
  position: relative;
  bottom: -440px;
  top: 80px;
  text-decoration: none;
  width: fixed;
}
.animate__animated.animate__slideInUp {
  animation-duration: 2.5s ease-in-out;
  animation-name: rep;
  animation-delay: 500ms;
}
@keyframes rep {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.repository:hover {
  text-decoration: none;
}
strong {
  text-decoration: underline;
  color: aliceblue;
}
strong:hover {
  font-weight: 400px;
  color: rgb(1, 236, 40);
  cursor: pointer;
  margin-bottom: 30px;
}
